<!DOCTYPE html>
<html lang="en"   width="100%">
    <head>
        <meta charset="UTF-8">
        <title>Energie Monitoring</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">

    </head>
    <body >
        <div id="container" class="center" >
            <canvas id="canvas" class="center" ></canvas>
            <div id="slider_container" class="center"> 
                <button id="left-arrow" class="arrow" onclick="moveLeft()"> </button>
                <div id="interval">
                  <input type="range" id="rangeInput" name="rangeInput" min="1" max="24" value="24" onchange="updateInterval(this.value)" oninput="amount.value=rangeInput.value"> 
                  <output name="amount" id="amount" for="rangeInput">24</output>
                </div>
                <button id="right-arrow" class="arrow" onclick="moveRight()"> </button>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>

        <script>
            
            $(document).ready(function () {

                send_command = function(data) {
                    $.ajax({
                        url: '/handle_command',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=UTF-8',
                        cache:false,
                        error: function(response){
                            alert('Error sending data')
                        }
                    });
                }

                moveLeft = function() {
                    send_command({'type': 'scroll_left'})
                }
                moveRight = function() {
                    send_command({'type': 'scroll_right'})
                }

                updateInterval = function(value) {
                    interval = parseInt(value);
                    send_command({'type': 'interval', 'value': interval*60*60})
                }

                updateInterval(document.getElementById('rangeInput').value)
                
                var chartConfig = {
                    type: 'line',
                    data: {},
                    options: {
                        responsive : true,
                       
                        title: {
                            display: false,
                            text: "",
                            fontSize: 18,
                            fontColor: "#00c",
                            padding: 10
                        },
                        legend: {
                            display: true,
                            labels: {
                                fontSize: 20,
                                boxWidth: 2,
                                padding: 15,
                                fontStyle: "bold"                        
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                distribution: 'linear',
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                },
                                time: {
                                    time: {
                                        unit: 'minute'
                                    },
                                    displayFormats: {
                                        minute: 'MMM D HH:MM'
                                   }
                                },
                                ticks: {
                                    beginAtZero: false
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: false,
                                    fontSize: 16,
                                    fontColor: "#e00"
                                },
                                ticks: {
                                    beginAtZero: false
                                },
                            }]
                        }
                    }
                };


                Chart.defaults.global.elements.point.radius = 0;
                Chart.defaults.global.elements.line.fill = false;
                Chart.defaults.global.elements.line.borderWidth = 2;
                const context = document.getElementById('canvas').getContext('2d');
                const chart = new Chart(context, chartConfig);
                const source = new EventSource("/data");
                source.onmessage = function (event) {
                    data = JSON.parse(event.data);
                    chartConfig.options.title.text = data['title'];
                    chartConfig.data = data;
                    chart.update();
                }
            });
        </script>
    </body>
</html>
